backend/.env
backend/node_modules
frontend/.env
backend/serviceAccountKey.json
venv/
text.txt
.env

# ML Models & Large Binary Files (use cloud storage instead)
*.zip
*.joblib
rl-engine/logs/
ai-service/models/
*.npz
.DS_Store
Screenshot*
