version: '3.8'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: included_literature
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: nkubana
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
  mongo_data: